<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2011-2017 Paul Watts (paulcwatts@gmail.com),
     University of South Florida (sjbarbeau@gmail.com), 
     Microsoft Corporation.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.onebusaway.android">

    <permission
            android:name="${applicationId}.permission.TRIP_SERVICE"
            android:label="@string/trip_service_perm_label"
            android:description="@string/trip_service_perm_description"
            android:protectionLevel="normal"/>
    <permission
            android:name="${applicationId}.permission.C2D_MESSAGE"
            android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="${applicationId}.permission.TRIP_SERVICE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>

    <uses-sdk tools:overrideLibrary="net.openid.appauth,
        android.support.customtabs,
        com.microsoft.embeddedsocial.autorest,
        com.microsoft.embeddedsocial.sdk"/>

    <application
            tools:replace="android:allowBackup"
            android:allowBackup="false"
            android:name="org.onebusaway.android.app.Application"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/Theme.OneBusAway">
        <meta-data
                android:name="android.app.default_searchable"
                android:value="org.onebusaway.android.ui.SearchActivity"/>

        <activity
                android:name="org.onebusaway.android.ui.SearchActivity"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>

        <activity
                android:name="org.onebusaway.android.ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="org.onebusaway.android.ui.ArrivalsListActivity"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.joulespersecond.seattlebusbot.ArrivalsListActivity"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name="org.onebusaway.android.ui.StopInfoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name="org.onebusaway.android.ui.RouteInfoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name="com.joulespersecond.seattlebusbot.RouteInfoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name="org.onebusaway.android.ui.TripInfoActivity"/>
        <activity android:name=".ui.MyRemindersActivity"/>
        <activity android:name="org.onebusaway.android.ui.TripDetailsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
                android:name="org.onebusaway.android.ui.MyStopsActivity"
                android:label="@string/stop_shortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.joulespersecond.seattlebusbot.MyStopsActivity"
                android:label="@string/stop_shortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
            </intent-filter>
        </activity>
        <activity
                android:name="org.onebusaway.android.ui.MyRecentStopsActivity"
                android:label="@string/recent_stops_shortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name="org.onebusaway.android.ui.MyStarredStopsActivity"
                android:label="@string/starred_stops_shortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name="org.onebusaway.android.ui.MyRoutesActivity"
                android:label="@string/route_shortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.joulespersecond.seattlebusbot.MyRoutesActivity"
                android:label="@string/route_shortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
            </intent-filter>
        </activity>
        <activity
                android:name="org.onebusaway.android.ui.MyRecentRoutesActivity"
                android:label="@string/recent_routes_shortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- ActionBarCompat library doesn't have an ActionBarPreferenceActivity, so define parent here-->
        <activity
                android:name="org.onebusaway.android.ui.PreferencesActivity"
                android:parentActivityName="org.onebusaway.android.ui.HomeActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="org.onebusaway.android.ui.HomeActivity"/>
        </activity>
        <activity android:name="org.onebusaway.android.ui.RegionsActivity"/>
        <activity android:name="org.onebusaway.android.ui.AgenciesActivity"/>

        <activity android:name="org.onebusaway.android.report.ui.ReportActivity"/>
        <activity android:name="org.onebusaway.android.report.ui.InfrastructureIssueActivity"/>

        <activity
                android:name="org.onebusaway.android.ui.MyRecentStopsAndRoutesActivity"
                android:label="@string/my_recent_title"
                android:parentActivityName="org.onebusaway.android.ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="org.onebusaway.android.ui.HomeActivity"/>
        </activity>
        <activity
                android:name="org.onebusaway.android.ui.NightLightActivity"
                android:label="@string/stop_info_option_night_light"
                android:parentActivityName="org.onebusaway.android.ui.HomeActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="org.onebusaway.android.ui.HomeActivity"/>
        </activity>
        <activity
                android:name="org.onebusaway.android.ui.TripPlanActivity"
                android:label="@string/title_activity_trip_plan"
                android:parentActivityName="org.onebusaway.android.ui.HomeActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="org.onebusaway.android.ui.HomeActivity"/>
        </activity>


        <!-- Provider is defined in build.gradle flavors -->
        <provider
                android:name="org.onebusaway.android.provider.ObaProvider"
                android:authorities="${databaseAuthority}"/>

        <service
                android:name=".tripservice.TripService"
                android:permission="${applicationId}.permission.TRIP_SERVICE">
            <intent-filter>
                <action android:name="${applicationId}.AlarmReceiver"/>
                <action android:name="${applicationId}.BootstrapService"/>
            </intent-filter>
        </service>

        <service
                android:name=".directions.realtime.RealtimeService">
        </service>

        <receiver android:name=".tripservice.AlarmReceiver">
            <intent-filter>
                <!-- Should match constants for actions defined in TripService -->
                <action android:name="${applicationId}.action.SCHEDULE"/>
                <action android:name="${applicationId}.action.POLL"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".tripservice.BootstrapService">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <!-- Legacy Receiver for backwards-compatibility support with v1.x - See Issue #558 -->
        <receiver android:name="com.joulespersecond.seattlebusbot.AlarmReceiver">
            <intent-filter>
                <!-- Should match constants for actions defined in TripService -->
                <action android:name="com.joulespersecond.seattlebusbot.action.SCHEDULE"/>
                <action android:name="com.joulespersecond.seattlebusbot.action.POLL"/>
            </intent-filter>
        </receiver>
        <!-- Receiver for restricted profiles -->
        <receiver android:name=".util.GetRestrictionsReceiver">
            <intent-filter>
                <action android:name="android.intent.action.GET_RESTRICTION_ENTRIES" />
            </intent-filter>
        </receiver>

        <receiver android:name=".directions.realtime.RealtimeWakefulReceiver">
            <intent-filter>
                <!-- Should match constants for actions defined in OTPConstants -->
                <action android:name="${applicationId}.directions.action.START_CHECKS"/>
                <action android:name="${applicationId}.directions.action.CHECK"/>
            </intent-filter>
        </receiver>

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/apiv2_key"/>

        <activity
                android:name="org.onebusaway.android.ui.AboutActivity"
                android:label="@string/title_activity_about"
                android:parentActivityName="org.onebusaway.android.ui.PreferencesActivity"
                android:theme="@style/Theme.OneBusAway.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="org.onebusaway.android.ui.PreferencesActivity"/>
        </activity>
    </application>

    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>
</manifest>
