<?xml version="1.0" encoding="utf-8"?><!-- Copyright (C) 2011-2013 Paul Watts (paulcwatts@gmail.com) and individual contributors.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joulespersecond.seattlebusbot"
    android:versionCode="44"
    android:versionName="1.7.8">

<permission
        android:name="com.joulespersecond.seattlebusbot.permission.TRIP_SERVICE"
        android:label="@string/trip_service_perm_label"
        android:description="@string/trip_service_perm_description"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.joulespersecond.seattlebusbot.permission.TRIP_SERVICE" />

    <application
        android:allowBackup="false"
        android:name=".Application"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.BusBot">
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchActivity" />

        <!-- Google Analytics Version v4 needs this value for easy tracking -->
        <meta-data android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/app_tracker" />

        <activity
            android:name=".SearchActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".HomeActivity"
            android:theme="@style/Theme.BusBot.NoBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArrivalsListActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".StopInfoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".RouteInfoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".TripInfoActivity" />
        <activity android:name=".TripListActivity" />

        <activity
            android:name=".MyStopsActivity"
            android:label="@string/stop_shortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyRecentStopsActivity"
            android:label="@string/recent_stops_shortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyStarredStopsActivity"
            android:label="@string/starred_stops_shortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MyRoutesActivity"
            android:label="@string/route_shortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyRecentRoutesActivity"
            android:label="@string/recent_routes_shortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".PreferencesActivity" />
        <activity android:name=".RegionsActivity" />
        <activity android:name=".AgenciesActivity" />

        <provider
            android:name="com.joulespersecond.oba.provider.ObaProvider"
            android:authorities="com.joulespersecond.oba" />

        <service
            android:name=".TripService"
            android:permission="com.joulespersecond.seattlebusbot.permission.TRIP_SERVICE">
            <intent-filter>
                <action android:name="com.joulespersecond.seattlebusbot.AlarmReceiver" />
                <action android:name="com.joulespersecond.seattlebusbot.BootstrapService" />
            </intent-filter>
        </service>

        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <!-- Should match constants for actions defined in TripService -->
                <action android:name="com.joulespersecond.seattlebusbot.action.SCHEDULE" />
                <action android:name="com.joulespersecond.seattlebusbot.action.POLL" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BootstrapService">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <uses-library android:name="com.google.android.maps" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>
