<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.joulespersecond.seattlebusbot"
      android:versionCode="5"
      android:versionName="1.1.0">
    <application 
        android:icon="@drawable/icon" 
        android:label="@string/app_name"
        android:theme="@style/Theme.BusBot"
        android:debuggable="true">
        <activity android:name=".MapViewActivity"
                  android:label="@string/app_name"
                  android:theme="@style/Theme.BusBot.NoBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StopInfoActivity"
                  android:label="@string/stop_info_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".RouteInfoActivity"
                  android:label="@string/route_info_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".TripInfoActivity"
                  android:label="@string/trip_info_title">
        </activity>
        <activity android:name=".TripListActivity"
                  android:label="@string/trip_list_title">
        </activity>
        <activity android:name=".FindStopActivity"
                  android:label="@string/stop_shortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FindRouteActivity"
                  android:label="@string/route_shortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MultiChoiceActivity"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
        
        <service android:name=".TripService">
            <intent-filter>
                <action android:name="com.joulespersecond.seattlebusbot.AlarmReceiver" />
                <action android:name="com.joulespersecond.seattlebusbot.BootstrapService" />
            </intent-filter>
        </service>
        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="com.joulespersecond.seattlebusbot.action.SCHEDULE_ALL" />
                <action android:name="com.joulespersecond.seattlebusbot.action.SCHEDULE_TRIP" />
                <action android:name="com.joulespersecond.seattlebusbot.action.POLL_TRIP" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BootstrapService">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <uses-library android:name="com.google.android.maps" />
    </application>
    <uses-sdk android:minSdkVersion="3" />  
     
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest> 