<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.joulespersecond.seattlebusbot"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".MapViewActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StopInfoActivity"
                  android:label="@string/stop_info_title">
        </activity>
        <activity android:name=".RouteInfoActivity"
                  android:label="@string/route_info_title">
        </activity>
        <activity android:name=".FindActivity"
                  android:label="">
        </activity>
        <activity android:name=".FindStopActivity"
                  android:label="">
        </activity>
        <activity android:name=".FindRouteActivity"
                  android:label="">
        </activity>
        <uses-library android:name="com.google.android.maps" />
    </application>
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
</manifest> 